body{
	font-family: 'Source Sans Pro', Helvetica, Arial, Sans-serif;
}
/*----------------------------------- General Structure */
.container{
	width: 940px;
	margin: 20px auto 0 auto;
}
.wrap-container{
	position: relative;
	padding: 0 10px;
}
.section{
	padding-top: 60px;
}
.example{
	padding: 20px 0;
}
em{
	padding: 4px;
	background: #FCFC80;
}
/*----------------------------------- Header */
#header .container{
	margin-top: 70px;
	margin-bottom: 0;
}
#about{
	margin-bottom: 0;
	padding-bottom: 15px;
	border-bottom: 5px solid #EAEAEA;
}
#main{
	margin-top: -20px;
}
.site-title{
	margin-bottom: 8px;
	line-height: 100%;
}
.space{
	letter-spacing: -10px;
}
/*----------------------------------- Nav */
#nav-menu{
	position: fixed;
	width: 100%;
	z-index: 10000;
	background-color: rgba(255, 255, 255, .85);
}
#nav-menu .container{
	margin: 0 auto;
}
.nav-bar{
	margin: 0 0 10px 0;
	padding: 0 5px;
	background: #333;
	/* Border Radius */
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.nav-bar li{
	float: left;
	margin-bottom: 0;
}
.nav-bar li a{
	display: inline-block;
	margin-right: 3px;
	padding: 15px;
	color: #FFF;
}
/*----------------------------------- Features */
.features-content{
	float: left;
	width: 40%;
}
.features-gallery{
	float: right;
	width: 56%;
}
.feature-list{
	margin-bottom: 20px;
}
.feature-list li{
	margin-left: 5px;
	padding-left: 35px;
	font-size: 123.1%;
	font-weight: 300;
	background: transparent url(./../img/ok.png) no-repeat 0 2px;
}
.download{
	display: block;
	margin-bottom: 40px;
	padding: 12px 16px;
	font-size: 123.1%;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: #FFF;
	background: #7A1;
	border: 1px solid #7A1;
	/* border radius */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/* transition */
	transition: background .2s ease-out;
	-webkit-transition: background .2s ease-out;
}
.download small{
	padding-left: 5px;
	font-size: 11px;
	font-weight: 100;
	text-transform: none;
	color: rgba(255, 255, 255, .7);
}
.download:hover{
	text-decoration: none;
	background: #8B2;
}
/*----------------------------------- Code */
pre{
	margin-bottom: 20px;
	padding: 15px 15px 10px 15px;
	font-size: 85%;
	color: #333;
	background: #EAEAEA;
	border-radius: 10px;
	overflow: auto;
}
.normalweight{
	font-weight: 100;
}
.code-option{
	padding: 2px 3px;
	background-color: #FF0;
}
/*----------------------------------- Table */
table{
	width: 100%;
	margin-bottom: 20px;
	overflow: auto;
}
table th, table td{
	padding: 8px 10px;
	border-top: 1px solid #EAEAEA;
}
table th{
	font-weight: bold;
}
table code{
	font-size: 93%;
}
table tbody tr:nth-child(2n+1){
	background-color: #EAEAEA;
}
.th-item{ width: 15%; }
.th-default{ width: 20%; }
.th-description{ width: 65%; }
/*----------------------------------- Gallery */
.crsl-items{
	margin: 30px auto;
}
.crsl-item figcaption{
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	color: #FFF;
	background: rgba(0,0,0,.5);
}
.crsl-nav{
	position: relative;
	min-height: 1px;
}
.crsl-nav .previous{
	float: left;
}
.crsl-nav .next{
	float: right;
}
/*----------------------------------- Footer */
#footer{
	margin-top: 60px;
}
#footer address{
	padding-top: 20px;
	border-top: 5px solid #EAEAEA;
	min-height: 60px;
}
/*----------------------------------- Clearfix */
.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}
/*----------------------------------- Media Queries */
@media only screen and ( min-width : 1360px ){
	.container{
		width: 1140px;
	}
	.features-content{
		width: 26%;
	}
	.features-gallery{
		width: 72%;
	}
}
@media only screen and ( min-width : 720px ) and ( max-width : 960px ){
	.container{
		width: 720px;
	}
	.features-content{
		width: 36%;
	}
	.features-gallery{
		width: 60%;
	}
	.feature-list li{
		margin-bottom: 15px;
		font-size: 116%;
	}
}
@media only screen and ( max-width : 720px ){
	.container{
		width: 100%;
	}
	.features-content, .features-gallery{
		float: none;
		width: 100%;
	}
	.feature-list li{
		margin-bottom: 15px;
	}
	.nav-menu li a{
		padding: 15px 7px;
	}
}